<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pakar Psikolog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<style>
    .navbar{
    background-image: linear-gradient(#9cadce, #9cadce);
}
</style>
</head>
<body>
    <!-- Awal Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top" style="margin-bottom: 40px">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="static/image/logomindasehat2.png" height="36" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pakar">Pakar Psikolog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/konsultasi">Konseling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="logout()" href="#" style="margin-left: 15px">Logout</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Akhir Navbar -->
    
    <section class="jadwal-section" id="jadwal-section">
        <div class="container jadwal-container">
            <div class="card">
                <div></div>
                <div class="card-body" >
                    <h4 class="mb-0 text-center text-black">Buat Jadwal Konsultasi</h4>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-2">
                            <img src="static/image/logomindasehat2.png" class="img-fluid rounded-circle" alt="Profile Picture" width="150">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mb-3 text-black">{{psikolog.username}}</h4>
                            <p class="mb-3 text-black">seorang psikolog dan konselor berlisensi dengan praktik konseling dan psikoterapi yang berlokasi di Jl. Kesehatan No 10 Petojo Selatan, Kecamatan Gambir, Kota Jakarta Pusat, DKI Jakarta.</p>
                        </div>
                    </div>
                        <form>
                            <div class="form-group mb-3 row">
                                <label for="inputTempat" class="col-sm-2 col-form-label">Tempat Konsultasi :</label>
                                <div class="col-sm-4">
                                    <select class="form-select" aria-label="Default select example" id="tempatKonsul" name="tempatKonsul" required>
                                        <option value="Klinik A">Klinik A</option>
                                        <option value="Klinik B">Klinik B</option>
                                        <option value="Klinik C">Klinik C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label for="inputTanggal" class="col-sm-2 col-form-label">Tanggal/Bulan/Tahun :</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" id="date" name="date" placeholder="Date" required>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label for="inputWaktu" class="col-sm-2 col-form-label">Jam Konsultasi :</label>
                                <div class="col-sm-4">
                                    <select class="form-select" aria-label="Default select example" id="inputWaktu" name="inputWaktu" required>
                                        <option value="09.00">09.00</option>
                                        <option value="10.00">10.00</option>
                                        <option value="11.00">11.00</option>
                                        <option value="12.00">12.00</option>
                                        <option value="13.00">13.00</option>
                                        <option value="14.00">14.00</option>
                                        <option value="15.00">15.00</option>
                                        <option value="16.00">16.00</option>
                                        <option value="17.00">17.00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div class="col-sm-2"></div> 
                                <div class="col-sm-10">
                                    <button type="button" onclick="jadwal()" class="btn btn-primary">Konsultasi</button>
                                    <a href="/pakar" class="btn btn-secondary">Batal</a>
                                </div>
                            </div>
                        </form>
                    
                </div>
            </div>
        </div>
    </section>
    
    

    <script>
        function jadwal() {
            let tempat = $("#tempatKonsul").val()
            let waktu = $("#date").val()
            let jam = $("#inputWaktu").val()
            if (waktu === "") {
                alert('Tanggal tidak boleh kosong')
                return;
            }
            $.ajax({
                type: "POST",
                url: "/buatJadwal",
                data: {
                    tempatKonsul : tempat,
                    date : waktu,
                    waktuKonsul : jam
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.replace("/konsultasi");
                }
            })
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>