<!DOCTYPE html>
<html lang="en">

<head>
    <title>MindaSehat</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script>
    function sign_in() {
      let password = $("#password").val();
      let email = $("#email").val();
      let role = $("#role").val();

      $.ajax({
        type: "POST",
        url: "/sign-in",
        data: {
          role_give: role,
          email_give: email,
          password_give: password,
        },
        success: function (response) {
          if (response["result"] === "success") {
            $.cookie("mytoken", response["token"], { path: "/" });
            if (response["role"] == "pekerja") {
              window.location.replace("/user-info");
            } else {
              window.location.replace("/job-post");
            }
          } else {
            alert(response["msg"]);
          }
        },
      });
    }
  </script>
</head>
<body>
  <!-- Login -->
  <div class="container login-container">
    {% if msg %}
    <div class="alert alert-warning" role="alert">{{ msg }}</div>
    {% endif %}
    <h2>Selamat datang di Placeholder</h2>

<body>
            <!-- Awal Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="/static/image/logomindasehat.png" height="45" alt="Logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/artikel">Artikel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/konsultasi">Pakar Psikolog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login" style="margin-left: 15px">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Akhir Navbar -->

        </div>
        <div class="content">
            <h1>MindaSehat</h1>
            <p class="par">Melangkah Menuju Kesehatan Mental Optimal</p>

            <button class="cn"><a href="#">JOIN US</a></button>

            <div class="form">
                <h2>Login Here!!</h2>
                <input type="email" name="email" placeholder="Enter Email Here">
                <input type="password" name="password" placeholder="Enter Password Here">
                <button class="btnn"><a href="sign_in()">Login</a></button>

                <p class="link">Jika kamu belum mempunyai akun, <br>
                    <a href="/sign-up">Sign up </a> disini</a>
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>