<!DOCTYPE html>
<html lang="en">
  <head>
    <title>REGISTRASI | MINDASEHAT</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='logomindasehat.png') }}"
      type="image/x-icon"
    />
    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="mini project for Web Plus" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='logomindasehat.png') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 50%;
        margin: 50px auto;
        background-color: #97adc3;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151,173,195);
    }
    h1 {
        text-align: center;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 6px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid ;
    }
    input[type="submit"] {
        background-color:  #f0b7b3;
        color: black;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color:#f0b7b3;
    }
    .error {
        color: red;
        margin-top: 5px;
    }
</style>
</head>
<body>
<div class="container">
   <center><img src="{{ url_for('static', filename='logomindasehat2.png') }}" alt="Logo MindaSehat" style="width: 120px; height: 100px;"  class="logo" style="display: block; margin: 0 auto;" ></center>
    <h1>DAFTAR AKUN MINDASEHAT</h1>
    <section class="section">
      <div class="container">
          <div class="box" style="max-width: 480px; margin: auto">
              <article class="media">
                  <div class="media-content">
                      <div class="content">
                          <div class="field has-addons">
                              <div class="control has-icons-left" style="width: 100%">
                                  <input id="input-username" class="input" type="text" placeholder="id" />
                                  <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                              </div>
                              <div id="btn-check-dup" class="control is-hidden">
                                  <button class="button is-sparta" onclick="check_dup()">
                                      Check your id
                                  </button>
                              </div>
                          </div>
                          <p id="help-id" class="help is-hidden">
                              For your id, please enter 2-10 English characters, numbers, or
                              the following special characters (._-)
                          </p>
                          <p id="help-id-login" class="help is-danger"></p>
 
                          <div class="field">
                              <div class="control has-icons-left">
                                  <input id="input-password" class="input" type="password" placeholder="password" />
                                  <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                              </div>
                              <p id="help-password" class="help is-hidden">
                                  For your password, please enter 8-20 English characters,
                                  numbers, or the following special characters (!@#$%^&*)
                              </p>
                              <p id="help-password-login" class="help is-danger"></p>
                          </div>
                      </div>
                      <div id="div-sign-in-or-up" class="has-text-centered">
                          <nav class="level is-mobile">
                              <button class="level-item button is-sparta" onclick="sign_in()">
                                  Sign In
                              </button>
                              <button class="level-item button " onclick="clearInputs()">
                                  Clear
                              </button>
 
                          </nav>
                          <hr />
                          <h4 class="mb-3">If you have not yet signed up</h4>
                          <nav class="level is-mobile">
                              <button class="level-item button is-sparta is-outlined" onclick="toggle_sign_up()">
                                  Sign Up
                              </button>
                          </nav>
                      </div>
 
                      <div id="sign-up-box" class="is-hidden">
                          <div class="mb-5">
                              <div class="field">
                                  <div class="control has-icons-left" style="width: 100%">
                                      <input id="input-password2" class="input" type="password"
                                          placeholder="Confirm your password" />
                                      <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                  </div>
                                  <p id="help-password2" class="help is-hidden">
                                      Please enter in your password again
                                  </p>
                              </div>
                          </div>
                          <nav class="level is-mobile">
                              <button class="level-item button is-sparta" onclick="sign_up()">
                                  Sign Up
                              </button>
                              <button class="level-item button is-sparta is-outlined" onclick="toggle_sign_up()">
                                  Cancel
                              </button>
                              <button class="level-item button is-outlined" onclick="clearInputs()">
                                  Clear
                              </button>
 
                          </nav>
                      </div>
                  </div>
              </article>
          </div>
      </div>
  </section>
</body>
</html>